* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

.templates {
    background-color: #111827;
    padding: 80px 0 150px;
}

.templates .container {
    width: 1300px;
    margin: 0 auto;
}

.templates h1 {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
}

.templates p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin: 20px 0 70px;
}

.templates .btn {
    text-align: center;
    margin-bottom: 68px;
}

.templates .btn button {
    background: #0066FF;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 15px 16px;
    border: 2px solid #0066FF;
    border-radius: 3px;
    transition: 0.4s;
    cursor: pointer;
}

.templates .btn button:hover {
    color: #0066FF;
    background-color: #FFFFFF;
}

/* wrapper */
.templates .wrapper {
    display: flex;
    gap: 20px;
}

.templates .wrapper .card {
    width: 310px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.templates .wrapper .img {
    border-radius: 10px;
}

.templates .wrapper h2 {
    padding: 28.5px 0 10px 20px;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
}

.templates .wrapper p {
    color: #000;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0 29px 20px 20px;
    text-align: left;
}

/* customization */
.customization {
    padding: 150px 0 50px;
}

.customization .container {
    width: 1100px;
    margin: 0 auto;
}

.customization .container .custom {
    display: flex;
    justify-content: center;
    padding: 10px 8px;
    background: #E6EBFF;
    width: 133px;
    border-radius: 3px;
    margin: 0 auto;
    gap: 10px;
}

.customization .container .custom img {
    /* margin-right: 10px; */
    width: 16px;
    height: 14.5px;
}

.customization .container .custom p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0066FF;
}

.customization .container h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    text-align: center;
    margin: 30px 0 30px;
}

.customization .container .text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    margin-bottom: 50px;
}

/* cards */
.customization .container .cards {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.customization .container .cards .block {
    background-color: #EEF1F7;
    height: 50px;
    padding: 17px 10px;
}

.customization .container .cards .block .displays {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.customization .container .cards .block .displays p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

/* about-stories */
.about-stories {
    width: 1300px;
    margin: 0 auto;
    box-shadow: 0px 0px 31.6049px rgba(0, 0, 0, 0.2);
    border-radius: 15.8024px;
}

.about-stories .container {
    width: 1300px;
    margin: 0 auto;
}

.about-stories .container .wrapper {
    display: flex;
}

/* left */

.about-stories .container .wrapper .story {
    padding: 14.5px 17px 17px 16px;
    width: 191.21px;
    background-color: #EEF1F7;
}

.about-stories .container .wrapper .story .main-story {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 25px;
}

.about-stories .container .wrapper .story .main-story img {
    width: 23.7px;
    height: 23.7px;
}

.about-stories .container .wrapper .story .main-story p {
    font-weight: 700;
    font-size: 12.642px;
    line-height: 15px;
}

.about-stories .container .wrapper .story .main-story p .changing {
    font-weight: 400;
    font-size: 11.0617px;
    line-height: 13px;
    color: #9CA0AC;
}

.about-stories .container .wrapper .story .menu-items {
    display: flex;
    gap: 12.25px;
    margin: 0 67px 20px 0px;
}


.about-stories .container .wrapper .story .menu-items p {
    font-weight: 500;
    font-size: 11.0617px;
    line-height: 13px;
    color: #000;
}

.about-stories .container .wrapper .story .menu .text {
    font-weight: 500;
    font-size: 11.0617px;
    line-height: 13px;
    color: #9CA0AC;
    border: 1px 100px solid #b3ff00;
    margin: 39px 0 15.8px;
}

.about-stories .container .wrapper .story .menu .other {
    font-weight: 500;
    font-size: 11.0617px;
    line-height: 13px;
    color: #9CA0AC;
    margin: 39.5px 0 20px;
}

.about-stories .container .wrapper .story .bottom {
    display: flex;
    margin: 240px 0 0px;
    align-items: center;
    gap: 7.9px;
    color: #000;
}

.about-stories .container .wrapper .story .bottom p {
    padding: 19.75px 0 19.75px;
    font-weight: 500;
    font-size: 12.642px;
    line-height: 15px
}

.about-stories .container .wrapper .story .bottom p .modification {
    font-weight: 400;
    font-size: 11.0617px;
    line-height: 13px;
    color: #9CA0AC;
}

.about-stories .container .wrapper .story .bottom img {
    width: 37.93px;
    height: 37.93px;
}

/* right */
.right {
    padding: 42px 32px 0 26px;
    background: #fff;
}

.right h2 {
    font-weight: 900;
    font-size: 24.2327px;
    line-height: 28px;
    margin-bottom: 42.5px;
}

.right h2 .changing {
    font-weight: 600;
}

.right .cards {
    display: flex;
    gap: 25px;
    margin-bottom: 10px;
    border: 1px solid #9CA0AC;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.right .cards .menu {
    display: flex;
    gap: 4.3px;
    font-weight: 400;
    font-size: 13.8473px;
    line-height: 16px;
    color: #9CA0AC;
}
.right .recipe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #9CA0AC;
    padding: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 36px;
}
.right .recipe h2{
    margin: auto 0;
}
.right .recipe .btn{
    display: flex;
    padding: 10.58px;
    width: 113px;
    height: 38px;
    border: none;
    border-radius: 3px;
    background: #2E3238;
    margin-right: 30px;
    gap: 10.5px;
}
.right .images{
    display: flex;
    cursor: pointer;
    padding: 10px;
}